@model IEnumerable<AutoRaceCalenderApp.UI.Models.CircuitViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table  table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CircuitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CircuitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNr)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CircuitId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CircuitId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CircuitId })
            </td>
        </tr>
}
    </tbody>
</table>
